html, body{
	font-family: arial;
	background-color: black;
	height:100%;
	margin: 0;

}
h1,h2,h5, h3 {
	color: black;
	text-align: center ;
}
a{
	text-decoration: none;
}

.main{
	background-color:#fff2ce;
	margin-left:10%;
	margin-right:10%;
	
	height:100%
}
.main-text{
	padding-top:2%;
}
.header-pos{
	padding:10px;
}
.header {
  	border: 1px solid black ;
	margin-left:20%;
	margin-right:20%;
	box-sizing: border-box;

}
.sub-head{
	text-align: left;
	margin-left:20%;
	margin-right:20%
}
.sub-paragraph{
	text-align: left;
	margin-left:20%;
	margin-right:20%
}
.footer{
    position: fixed;
    bottom: 0;
    width:80%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
