h1, h2,h5, h3 {
	color:black;
	text-align: center ;
}
#emerald {
	color:darkorange;
}
#silver{
	color:darkslategray;
}
body {
    background:white;
}

#amznbutton {
	background:url(images/amzn.png) no-repeat;
    cursor:pointer;
    width: 300px;
    height: 150px;
    border: none;
	align-content: center;
	filter: drop-shadow(0 0 30px #333);
	/*box-shadow: 10px 10px 5px grey;*/
}
#refbutton{
	background:url(images/max-refund.png) no-repeat;
    cursor:pointer;
    width: 255px;
    height: 255px;
    border: none;
	filter: drop-shadow(0 0 30px #333);
	/*box-shadow: 10px 10px 5px grey;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
html, body {margin: 0; height: 100%; overflow: hidden}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:white;
	display:inline-block;
	
}


li {
    float: left;
}
.menu{
	display:block;
	color:white;
	opacity: 1;
    filter: alpha(opacity=100);
	position: fixed;
    top: 0;
    width: 100%;
}
li a {
    display: block;
    color: darkslategray;
    padding: 10px 75px;
    text-decoration:underline;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:darkorange;
}
.active {
    background-color:darkorange;
}
